@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

@font-face {
    font-family: oferta;
    src: url(../font/Curetro.otf);

}
@font-face {
    font-family: titulo;
    src: url(../font/MOORA\ LIGHT\ REGULER.otf);
}

:root{
    --space-cadet-blue:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
  }

section{
    background-color: #fff;
    padding: 1rem 8%;
}

.oferta{
    text-align: center;
    color: gold;
    font-size: 5rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: oferta;
    padding-bottom: 3rem;
}

.nomeCat {
    font-family: titulo;
    text-align: center;
    color: #e643a7;
    font-size: 4rem;
    padding-bottom: 2rem;
}

header {
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    font-family: 'Arapey', serif;
    color: #ff18a6;
    font-size: 4rem;
    font-weight: bolder;

}

header .logo img{
    width: 28px;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background-color: #ff83cf;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--space-cadet-blue);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background-color: #ff83cf;
}

header .icons #menu,
header .icons #instagram,
header .icons #whatsapp{
    display: none;
}

header .icons #instagram,
header .icons #whatsapp{
    font-size: 18px;
}

header .icons #menu:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: #ff83cf; 
}

header .icons #instagram:hover,
header .icons #whatsapp:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background-color: #ff83cf;
}

main {
    margin-top: 7rem;
}
main .sidebar .categoria {
    margin-top: 0rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .sidebar .categoria a{
    font-size: 1.1rem;
    border-radius: .5rem;
    padding:.4rem 1.5rem;
    color:var(--light-color);
}

.fa-home {
    font-size: 2rem;
}

.fa-arrow-left {
    font-size: 2rem;
}

main .sidebar .categoria a.active,
main .sidebar .categoria a:hover{
    color:#fff;
    background-color: #ff83cf;
}

main .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: 1rem;
}

main .products .box-container .box {
    border: solid 1px #eee;
    border-radius: .5rem;
    width: 100%;
}

main .products .box-container .box .image{
    height: 22rem;
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
    position: relative;
}

main .products .box-container .box .image .img {
    height: 100%;
    width: auto;
    border-radius: .5rem;
    object-fit: cover;
}

main .products .box-container .box .image .novo{
    position: absolute;
    top: -4%; right: 76%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
}

main .products .box-container .box .image .superOferta{
    position: absolute;
    top: -4%; right: 72%;
    height: 6rem;
    width: 6rem;
    line-height: 5rem;
    text-align: center;
}

main .products .box-container .box .content{
    padding: 0.5rem;
    padding-top: 0;
}

main .products .box-container .box .content h3{
    color:var(--space-cadet-blue);
    font-size: 2rem;
}

main .products .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 1.1;
}

main .products .box-container .box .content .desconto{
    color: rgba(0, 0, 0, 0.600);
    text-decoration: line-through;
    font-size: 1.5rem;
}

main .products .box-container .box .content .price{
    color: black;
    margin-left: 0.5rem;
    font-size: 2.4rem;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 1.3rem;
    color:var(--space-cadet-blue);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu,
    header .icons #instagram,
    header .icons #whatsapp{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    .products .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        gap: 0.5rem;
    }

    header .icons i,
    header .icons a {
    margin-left: 0;
    margin-right: 0;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    }

    header .logo{
    font-family: 'Arapey', serif;
    color: #ff18a6;
    font-size: 3.3rem;
    font-weight: bolder;

    }

    header .logo img{
    width: 20px;
    }

    .oferta{
        font-size: 5rem;
    }

    main .products .box-container .box .image{
        height: 19rem;
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height: 100%;
        width: 100%;

    }

    .order form .inputBox .input{
        width:100%;
    }

}